/* CSS Document */
.hidden {
	display: none;
}
body {
	background-color: #4F4F4F;
	background-image: url('/images/black-linen.png');
	background-repeat: repeat;
	color: #FFF;
	text-align: center;
}
.navbar {
	background: #424242;
	border-radius: 0;
	padding: 0 10px;
	min-height: 100px;
}
.logo {
	float: left;
}
.well {
	margin-top: 15px;
	margin-bottom: 0;
	background: gray;
	border:none;
}
.register {
	float: right;
}
h1.logo {
	font-family: 'Fjalla One', sans-serif;
	color: #33B76C;
	font-style: italic;
	margin-top: 5px;
	font-weight: 800;
	text-shadow: 4px 4px 4px #383838;
	text-align: center;
}
.number {
	font-size: 1.2em;
	text-align: center;
	color: #33B76C;
}
form {
	margin-bottom: 0;
}
a {
	color: #33B76C;
}
p.cta {
  text-align: center;
  font-size: 4em;
  color: white;
  font-weight: 800;
}
p.cta-subhead {
  color: gray;
  text-align: center;
  font-size: 2em;
}
img.home-img {
  display: block;
  margin: auto;
  width: 85%;
  padding: 5px 10px;
}
#status {
	color: #FFF;
}
.footer {
  text-align: center;
  border-top: 3px solid black;
  padding: 10px;
  margin-top: 30px;
}
.sm-img {
	position: relative;
	max-width: 180px;	
}
input[type=submit] {
	color: #33B76C;
	background-color: rgb(66, 66, 66);
}
.form-register {
	background: rgba(255, 255, 255, .5);
	border: 3px solid white;
	border-radius: 5px;	
}
input {
	color: #868686;
	margin-left: 5px;
}
.img-box {
  position: relative;
  float: left;
  margin: 22px;
}
.action {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  padding: 5px;
}
.caption {
  position: absolute;
}
div#movie {
  width: 30%;
  margin: auto;
}
a#replay-slide {
  text-align: center;
  margin: auto;
  display: block;
}
span.glyphicon.glyphicon-pencil {
  float: right;
}
span.glyphicon.glyphicon-trash {
  float: left;
}
img {
	padding: 15px;
}
.form-group {
  margin-bottom: 15px;
  margin-top: 15px;
}

li {
  list-style-type: none;
  font-size: 18px;
  padding: 10px 0;
}
.flexslider .slides img {
  width: 100%;
  display: block;
  padding: 0 !important;
}

@media (max-width: 767px) {
	.navbar-form {
  		padding: 45px 15px 0 15px;
	}
}